#cadastro body{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;     
}
.fundo_cad {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 660px;
    margin-top: 0;
    background-image: url("../img/cadastro.jpg");
}
.conteudo_cad{
    background-color: rgba(5, 19, 78, 0.733);
    border-radius: 20px;
    width: 80%;
    height: 600px;
    float: right;
    margin-top: 25px;
    margin-right: 135px;
    box-shadow: 3px 3px 5px 2px #000;
}
.conteudo_cad h2{
    text-align: center;
    font-family: 'Antonio', sans-serif;
    color:#DAA520;
    font-size:x-large;
    margin-top: 120px;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
.custom-field {
    position: relative;
    font-size: 18px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:rgba(5, 19, 78, 0.733);
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
    color: whitesmoke;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 15px;
    line-height: 100%;
    transform: translateY(-50%);
    color: whitesmoke;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }
  
  .custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
  }
  
  .custom-field .error-message:empty {
    opacity: 0;
  }
  
  /* ONE */
  .custom-field.one input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
    margin-left: 415px;
  }
  
  .custom-field.one input + .placeholder {
    left: 8px;
    padding: 0 10px;
    margin-left: 410px;
  }
  
  .custom-field.one input.dirty,
  .custom-field.one input:not(:placeholder-shown),
  .custom-field.one input:focus {
    border-color: #DAA520;
    transition-delay: 0.1s
  }
  
  .custom-field.one input.dirty + .placeholder,
  .custom-field.one input:not(:placeholder-shown) + .placeholder,
  .custom-field.one input:focus + .placeholder {
    top: 20;
    font-size: 12px;
    color: white;
    background: rgba(255, 255, 255, 0);
    width: auto
  }
.conteudo_cad button{
    width: 15%;
    height: 50px;
    border-radius: 10px;
    margin: 50px 0;
    cursor: pointer;
    border: none;
    background-color: #4169E1;
    box-shadow: inset  0 0 0 0#DAA520;
    color: white;
    margin-left: 460px;
}
.conteudo_cad button:hover{
    box-shadow: inset 180px 0 0 0 #DAA520;
}
#redirecionar{
  color: white;
  margin-left: 425px;
}