#fundo_rando img {
    width: 100%;
    height: 700px;
    z-index: 1;
    position: relative;
    }
#usuario {
    z-index: 2;
    position: absolute;
}
.conteudo_usuario{
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 20px;
    width: 200px;
    height: 190px;
    margin-top: 25px;
    margin-left: 20px;
    float: left;
    box-shadow: 3px 3px 5px 2px #000;
    position: relative;
    padding-top: 10px;

}
.info_usuario span{
    margin-left: 10px;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #4169E1;
    box-shadow: inset  0 0 0 0#DAA520;
    color: white;
    margin-left: 50px;
}
button:hover{
    box-shadow: inset 180px 0 0 0 #DAA520;
}

#info_cont{
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    width: 1050px;
    height: 640px;
    margin-top: 25px;
    margin-left: 20px;
    float: right;
    box-shadow: 3px 3px 5px 2px #000;
    position: relative;
    padding-top: 10px;
}
#nav_perfil b:hover{
    transform: scale(1.3);
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,.5));
    color:  #DAA520;
}
#nav_perfil b{
    text-decoration: none;
    color:  #232323;
    font-size: 22px;
    margin-right: 100px;
    margin-left: 100px;
    cursor: pointer;
}
#hist img{
    width: 700px;
    height: 535px;
    margin-left: 165px;
}
#elo img{
    margin-left: 120px;
    margin-right: 40px;
}
#elo b{
    font-family: 'Antonio', sans-serif;
    margin-left: 170px;
    margin-right: 100px; 
    font-size: 20px;
}
#elo a{
    margin-left: 170px;
    margin-right: 65px;
    font-weight: bold;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
}